@import "tailwindcss";

:root {
  --background: #a2ca02;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.azul_ocupacao_fundo {
  background-color: #1331a1;
}
.laranja_ocupacao_fundo {
  background-color: #f44528;
}
.verde_ocupacao_fundo {
  background-color: #a2ca02;
}

.azul_ocupacao_texto {
  color: #1331a1;
}
.laranja_ocupacao_texto {
  color: #f44528;
}
.verde_ocupacao_texto {
  color: #a2ca02;
}